@import url('https://fonts.googleapis.com/css?family=Courgette');

.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-9,
.col-md-12 {
    padding-right: 5px;
    padding-left: 5px;
}

body {
    font-family: "Courgette";
    font-size: 18px;
    color: #282828;
    background-image: url("../images/weather.png");
}

.container {
    padding: 0px;
}

.row {
    padding-left: 80px;
    padding-right: 80px;
}

.rw-1 {
    background: url("../images/weather.png");
    background-color: #f6f5f3;
    padding: 0px;
}

.rw-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url("../images/header.png");
}

.rw-3 {
    background-image: url("../images/Group_4.png");
    color: #f6f5f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rw-4 {
    background-image: url("../images/Rectangle_25.png");
    padding-top: 20px;
    color: #f6f5f3;
    text-align: center;
    padding-bottom: 20px;
    height: 200px;
}

.jumbotron {
    background-color: aliceblue;
    background: url("../images/3.png");
    text-align: center;
    margin-bottom: 0px;
}

.display-4 {
    font-size: 3.7em;
}

.jumbotron h1 {
    background: rgb(255, 255, 255, 0.3);
    border: 2px solid black;
    width: 480px;
    margin: 0 auto;
    padding: 10px;
}

form,
.comments p,
.forecast,
.campsite,
.clothingRecommendations,
.map-container,
.card,
input[placeholder] {

    background: rgba(145, 186, 212, 0.2);
    border: 2px solid rgb(122, 136, 148);
    border-radius: 5px;
}

form,
.info,
.forecast,
.campsite,
.comments,
.clothingRecommendations,
.map-container {
    padding: 10px;

}

label {
    font-size: 25px;
}

input[placeholder] {
    letter-spacing: 2.5px;
    padding-left: 30px;
    background: rgb(215, 242, 255);
}

.comments,
.clothingRecommendations,
.campsite,
.map-container {
    margin-top: 5px;
}

#submit-btn {
    margin-top: 15px;
}

#submit-btn:active {
    box-shadow: 0px 0px 5.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.campsites {
    float: left;
    margin: 7px;
    background: rgb(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 3px 10px;
}

option:hover {
    outline: 2px dashed #282828;
    border-radius: 5px;

}

option:active {
    box-shadow: 0px 0px 5.85px 0.15px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

tr:hover {
    background: rgb(255, 255, 255, 0.9);
}


.clothingRecommendations ul {
    font-size: 20px;
    list-style-image: url("../images/009-sweater-2-icon.png");
}

.rw-3 h2 {
    text-align: center;
}

.comments {
    margin: 0 auto;
    width: 1060px;
}

.comments div {
    float: left;
}

.comments p {
    margin: 10px;
    padding: 7px;
    width: 200px;
    font-size: 14px;
}

#userName {
    font-size: 16px;
    text-align: center;
}

input[placeholder="Name"] {
    width: 200px;
    margin-right: 10px;
}

#comment-btn {
    color: #f6f5f3;
}



#mapid {
    height: 225px;
}


.footer {
    height: 60px;
    background-position: right;
    background-color: #f6f5f3;
}

.footer p {
    margin: 0 auto;
    padding: 20px;
}

