@import url('https://fonts.googleapis.com/css?family=Courgette');

.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-9 {
    padding-right: 5px;
    padding-left: 5px;
}

body {
    font-family: "Courgette";
    background-image: url("../images/weather.png");
}

.container {
    padding: 0px;
}

.row {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: aliceblue;
    background: url("../images/camp-1.png");
    text-align: center;
    margin-bottom: 0px;
}

.jumbotron h1 {
    background: rgb(255, 255, 255, 0.3);
    border: 2px solid black;
    width: 420px;
    margin: 0 auto;
}

form,
.comments, .forecast, .clothingRecommendations, .card, input[placeholder] {
    background: rgba(145, 186, 212, 0.2);
    border: 2px solid rgb(138, 191, 235);
    border-radius: 5px;
}

form, .info, .forecast, .comments, .clothingRecommendations {
    padding: 10px;
}

label {
    font-size: 25px;
}

input[placeholder] {
    letter-spacing: 2.5px;
    padding-left: 30px;  
    background: rgb(215, 242, 255);
}

.comments, .clothingRecommendations {
    margin-top: 5px;
}

#submit-btn {
    margin-top: 15px;
}

/* Icon Rotate */
.hvr-icon-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-rotate .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-rotate:hover .hvr-icon, .hvr-icon-rotate:focus .hvr-icon, .hvr-icon-rotate:active .hvr-icon {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }